<%inherit file="base.html"/>

<%def name="head()">  
<style> 
@media print{
 .perflink {display:none;}
 body{font-size: 11px;}
}
</style>
<script>
    function deleteHost(host_name) {
        if (confirm("确认删除吗？")) {
            window.location.href = "/host/delete?host_name=" + host_name;
        }
    }
    function doPrint()
    {
         var newstr = document.getElementById("print-area").innerHTML;
         var oldstr = document.body.innerHTML;
         document.body.innerHTML=newstr;
         window.print();
         document.body.innerHTML=oldstr;   
    }    
</script>
</%def>
<%def name="body()">
<section class="content">
    <div class="box box-primary">
        <div class="box-header">
            <i class="fa fa-desktop"></i>
            <h3 class="box-title">主机状态列表</h3>
        </div>
        <div class="box-body">
        <div class="container">
         <form class="form-horizontal" role="form" action="/status/hosts" method="post">
            ${handler.xsrf_form_html()}
            <div class="form-group">
                <label for="group_name" class="col-md-3 control-label">主机分组</label>
                <div class="col-md-4">
                    <select id="group_name" name="group_name" class="form-control" >
                        <option></option>
                        % for group in groups:
                        <option value="${group.hostgroup_name}" ${group.hostgroup_name == curr_group and "selected" or ""}>${group.alias}</option>
                        % endfor
                    </select>
                </div>
                <div class="col-md-5">
                    <button type="submit" class="btn btn-default">查询</button>
                    <button type="button" class="btn btn-default" onclick="doPrint();">打印</button>
                </div>
            </div>
        </form>
        <div class="clearfix"></div>
        <hr>
        <div id="print-area">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>服务名</th>
                <th>状态</th>
                <th>最后检测</th>
                <th>重试</th>
                <th>状态信息</th>
            </tr>
            </thead>
            <tbody>
             % for host in hosts:
            <thead>
            <tr>
                <th colspan=5 class="status_header"><span class="glyphicon glyphicon-cog"></span> ${host.host_name} - ${host.address} - ${host.alias} <span class="perflink">(<a href="/perfdata?host_name=${host.host_name}">性能监控</a>)</span>
                <a class="opt-btn btn-default" href="/service?host_name=${host.host_name}">服务配置</a>
                </th>
            </tr>
            </thead>             
             % for service in host.get_effective_services():
             <% 
                 try:
                     curr_status =  service.get_current_status()
                 except:
                     continue
             %>
            <tr >
                <td>${service.get_shortname()}</td>
                <td class="${STYLE[int(curr_status['current_state'])]}">${STATUS[int(curr_status['current_state'])]}</td>
                <td>${utils.get_datetime(float(curr_status['last_check']))}</td>
                <td>${curr_status['current_attempt']}/${curr_status['max_attempts']}</td>
                <td>${utils.split_mline(utils.safeunicode(curr_status['plugin_output']),72,'<br>')}</td>
            </tr>
            % endfor
            % endfor
            </tbody>
        </table>
       </div> 
    </div>
    </div>
</div>
</%def>