<%inherit file="base.html"/>

<%def name="head()">
<script src="/static/js/bootstrap-datepicker.js"></script>
<link rel="stylesheet" href="/static/js/datepicker.css"> 
<script>
$(function () {
    $("#begin_day").datepicker();
    $("#end_day").datepicker();
});
</script>
</%def>
<%def name="body()">
<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> 告警查询</div>
    <div class="panel-body">
    <form id="query_form" class="form-horizontal" role="form" action="/manage/alerts" method="post">
            ${handler.xsrf_form_html()}
            <div class="form-group">
                <label for="alert_type" class="col-md-2 control-label">类型</label>
                <div class="col-md-3">
                    <select id="alert_type" name="alert_type" class="form-control">
                        <option></option>
                        <option value="mail" ${alert_type == 'mail' and "selected" or ""}>mail</option>
                        <option value="sms"  ${alert_type == 'sms' and "selected" or ""}>sms</option>
                    </select>
                </div>
                <label for="begin_day" class="col-md-2 control-label">开始日期</label>
                <div class="col-md-3">
                    <input type="text" id="begin_day" name="begin_day" class="form-control" value="${begin_day or utils.get_currdate()}">
                </div>                

            </div>
            <div class="form-group">
               <label for="end_day" class="col-md-2 control-label">结束日期</label>

                <div class="col-md-3">
                    <input type="text" id="end_day" name="end_day" class="form-control" value="${end_day or utils.get_currdate()}">
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-default">查询</button>
                </div>                
            </div>
        </form>
        <div class="clearfix"></div>
        <hr>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>告警类型</th>
                <th>通知目标</th>
                <th>告警内容</th>
                <th>告警时间</th>
            </tr>
            </thead>
            <tbody>
            % for alert in page_data.result:
            <tr>
                <td>${alert['alert_type']}</td>
                <td>${alert['target']}</td>
                <td>${alert['content'].replace(r'\n','<br>')}</td>
                <td>${utils.get_datetime(int(alert['sendtime']))}</td>
            </tr>
            % endfor
            </tbody>
        </table>
         ${page_data.render(form_id="query_form")}

    </div>
</div>
</%def>