<%inherit file="base.html"/>

<%def name="head()">
<script>
    function deleteService(service_id) {
        if (confirm("确认删除吗？")) {
            window.location.href = "/manage/service/delete?host_name=${host_name}&service_id=" + service_id;
        }
    }
</script>
</%def>
<%def name="body()">
<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> 【${host_name}】→ 服务列表 <a class="badge pull-right" href="javascript:history.go(-1);">返回</a></div>
    <div class="panel-body">
        <div class="pull-right bottom10">
            <a href="/manage/service/add?host_name=${host_name}" class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-plus"></span> 添加服务
            </a>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>服务类型</th>
                <th>服务描述</th>
                <th>服务指令</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            % for service in services:
            <tr>
                <td>${service.use}</td>
                <td>${service.get_shortname()}</td>
                <td>${service.check_command}</td>
                <td>
                    <a class="opt-btn btn-default" href="/manage/service/update?service_id=${service.get_id()}">修改</a>
                    <a class="opt-btn btn-default" href="javascript:deleteService('${service.get_id()}')">删除</a>
                </td>
            </tr>

            % endfor
            </tbody>
        </table>

    </div>
</div>

</%def>