<%inherit file="base.html"/>
<%def name="head()">
<script>
    $(document).ready(function () {
        $("#check_command_help").click(function(i){
            $('#helpDig').modal({})
        });
    });    
</script>
</%def>
<%def name="body()">
    <div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> ${form.title}
    <a class="badge pull-right" href="javascript:history.go(-1);">返回</a>
    </div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" action="${form.action}" method="post">
            ${handler.xsrf_form_html()}
            ${form.render_css()}
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="helpDig" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">命令参考</h4>
      </div>
      <div class="modal-body">
        <div class="list-group">
         % for cmd in commands:
             % if cmd.command_name.startswith("check"):
              <% exam = help_dict.get(cmd.command_name) %>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">${cmd.command_name}</h4>
                <p class="list-group-item-text">模板:${cmd.command_line}</p>
                <p class="list-group-item-text">实例:${exam and exam['example'] or ''}</p>
              </div>
             % endif
         % endfor
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</%def>